# Visualization

- Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
- 30% of the company staff have at least 1 child.
- Developers like to be near successful tech startups that have raised at least 1 Million dollars.
- Executives like Starbucks A LOT. Ensure there's a starbucks not too far.
- Account managers need to travel a lot.
- Everyone in the company is between 25 and 40, give them some place to go party.
- The CEO is vegan.
- If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.
- The office dogâ€”"Dobby" needs a hairdresser every month. Ensure there's one not too far away.

In [1]:
import geopandas as gpd
import pandas as pd
from cartoframes.viz import Map, Layer, popup_element, basemaps
from cartoframes.auth import Credentials
from cartoframes.auth import set_default_credentials
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster

from Functions import *

In [3]:
companies

,Name,Number of employees,Description,Total money (in million $),Main address,City,Latitude,Longitude
0,ngmoco,150,Games for the iPhone,44.8,185 Berry Street,San Francisco,37.770510,-122.401581
1,Thumbplay,70,"Music, Videos, Games for Mobile Devices",41.5,599 Broadway,New York,40.725435,-73.997395
2,OMGPOP,50,Free online multiplayer game,16.6,SoHo,New York,40.723384,-74.001704
3,CyberArts,55,Gaming software developer,16.3,"51 Arbor St,",San Francisco,37.737609,-122.435399
4,Zynga,115,Network of gaming applications,8.0,365 Vermont St.,San Francisco,37.765158,-122.404234
5,Serious Business,22,Social Game Development Studio,4.0,580 Market Street,San Francisco,37.789321,-122.401362
6,Exent,100,Games on Demand Leader,3.0,632 W. 28th St.,New York,40.752380,-74.005568
7,Exent,100,Games on Demand Leader,3.0,685 Market Street,San Francisco,37.787646,-122.402759
8,GameLayers,5,Multiplayer Networked Games,2.0,1 Lombard Street,San Francisco,37.803847,-122.402468
9,Shattered Reality Interactive,10,"Online Social Gaming, MMO",1.1,490 2nd Street,San Francisco,37.783046,-122.394067
10,Shattered Reality Interactive,10,"Online Social Gaming, MMO",1.1,490 2nd Street,San Francisco,37.783046,-122.394067
11,Kabam,650,Leader in Gaming,1.0,795 Folsom Street,San Francisco,37.394456,-122.078531
12,GotGame,15,Applications for in-game social media,1.0,1 Bluxome Place,San Francisco,37.777720,-122.395785

In [4]:
# CALL FSQ

#get_tables()

In [ ]:
# FUNCTION TO EXTRACT ALL SINGLE CATEGORIES
extract_categories(750)

In [2]:
# FUNCTION TO EXTRACT ALL STARBUCKS ONLY
extract_starbucks(750)

In [ ]:
# FUNCTION TO APPEND ALL CATEGORIES IN A SINGLE DATAFRAME
lst=[]
  
path = os.getcwd()
csv_files = glob.glob(os.path.join("../data/", "1*.csv"))
  
for f in csv_files:
    if os.path.getsize(f) > 100:
        df = pd.read_csv(f)
        lst.append(df)
        big_df = pd.concat(lst, axis = 0, keys=["first", "second", "third", "fourth", "fifth", "seven"
                                               "eigth", "ninth"])
big_df.to_excel("../data/bigdf.xlsx")
big_df

In [3]:
means, counts = calculate_distances("starbucks")

These are the csv files without your request:

'../data/11starbucks.csv'

In [51]:
means.insert(3, 0)
means.insert(4, 0)
means.insert(5, 0)
means.insert(6, 0)
means.insert(7, 0)
means.insert(8, 0)
means.insert(9, 0)
means.insert(10, 0)
means.insert(11, 0)
counts.insert(3, 0)
counts.insert(4, 0)
counts.insert(5, 0)
counts.insert(6, 0)
counts.insert(7, 0)
counts.insert(8, 0)
counts.insert(9, 0)
counts.insert(10, 0)
counts.insert(11, 0)

In [52]:
companies["Basket court mean distance"] = means
companies["Basket court station counts"] = counts

In [53]:
companies

,Name,Number of employees,Description,Total money (in million $),Main address,City,Latitude,Longitude,Vegan restaurants mean distance,Vegan restaurants counts,...,Bus station mean distance,Bus station counts,Metro station mean distance,Metro station counts,Train station mean distance,Train station counts,Tram station mean distance,Tram station counts,Basket court mean distance,Basket court station counts
0,ngmoco,150,Games for the iPhone,44.8,185 Berry Street,San Francisco,37.770510,-122.401581,697.000000,4,...,420.000000,10,0.000000,0,419.500000,2,0.000000,0,364.0,2
1,Thumbplay,70,"Music, Videos, Games for Mobile Devices",41.5,599 Broadway,New York,40.725435,-73.997395,522.000000,10,...,549.200000,10,443.777778,9,367.500000,4,0.000000,0,642.5,2
2,OMGPOP,50,Free online multiplayer game,16.6,SoHo,New York,40.723384,-74.001704,572.600000,10,...,562.666667,6,479.400000,10,589.500000,6,0.000000,0,602.0,1
3,CyberArts,55,Gaming software developer,16.3,"51 Arbor St,",San Francisco,37.737609,-122.435399,0.000000,0,...,593.000000,2,0.000000,0,558.000000,2,0.000000,0,0.0,0
4,Zynga,115,Network of gaming applications,8.0,365 Vermont St.,San Francisco,37.765158,-122.404234,137.000000,1,...,372.400000,10,0.000000,0,496.000000,1,0.000000,0,0.0,0
5,Serious Business,22,Social Game Development Studio,4.0,580 Market Street,San Francisco,37.789321,-122.401362,392.200000,5,...,143.800000,10,406.500000,2,454.500000,8,613.333333,3,0.0,0
6,Exent,100,Games on Demand Leader,3.0,632 W. 28th St.,New York,40.752380,-74.005568,435.000000,5,...,436.200000,5,0.000000,0,584.000000,3,0.000000,0,0.0,0
7,Exent,100,Games on Demand Leader,3.0,685 Market Street,San Francisco,37.787646,-122.402759,435.800000,5,...,173.800000,10,366.500000,2,422.714286,7,573.000000,2,0.0,0
8,GameLayers,5,Multiplayer Networked Games,2.0,1 Lombard Street,San Francisco,37.803847,-122.402468,0.000000,0,...,708.500000,2,0.000000,0,425.250000,4,0.000000,0,0.0,0
9,Shattered Reality Interactive,10,"Online Social Gaming, MMO",1.1,490 2nd Street,San Francisco,37.783046,-122.394067,458.500000,2,...,390.200000,10,0.000000,0,646.800000,5,0.000000,0,0.0,0
10,Shattered Reality Interactive,10,"Online Social Gaming, MMO",1.1,490 2nd Street,San Francisco,37.783046,-122.394067,458.500000,2,...,390.200000,10,0.000000,0,646.800000,5,0.000000,0,0.0,0
11,Kabam,650,Leader in Gaming,1.0,795 Folsom Street,San Francisco,37.394456,-122.078531,457.000000,1,...,97.000000,2,0.000000,0,195.000000,3,0.000000,0,0.0,0
12,GotGame,15,Applications for in-game social media,1.0,1 Bluxome Place,San Francisco,37.777720,-122.395785,606.666667,3,...,177.600000,10,0.000000,0,274.500000,10,0.000000,0,672.0,2