# MONGO DB ANALYSIS

In [1]:
from Functions import *

In [30]:
df_full = pd.DataFrame(clean_table())

In [31]:
df_full.head()

,name,number_of_employees,tag_list,description,overview,total_money_raised,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,Thumbplay,70.0,"mobile, music, video, sharing, gaming, cloud, ...","Music, Videos, Games for Mobile Devices",<p>Thumbplay is a provider of mobile entertain...,$41.5M,599 Broadway,8th Floor,10012,New York,NY,USA,40.725435,-73.997395
1,Xfire,NaN,"games, pc, entertainment, onlinegaming, skillg...",Social Gaming Portal & Platform,<p>Xfire is the leader in social gaming servic...,$7M,310 Wilshire Blvd.,,90401,Santa Monica,CA,USA,34.018466,-118.498630
2,OMGPOP,50.0,"dating, gaming, auction",Free online multiplayer game,<p>OMGPOP (formerly known as iminlikewithyou) ...,$16.6M,SoHo,,,New York,NY,USA,40.723384,-74.001704
2,OMGPOP,50.0,"dating, gaming, auction",Free online multiplayer game,<p>OMGPOP (formerly known as iminlikewithyou) ...,$16.6M,,,,Austin,TX,USA,NaN,NaN
3,FlowPlay,30.0,"flowplay, casual-games, virtual-world, avatars...",Virtual world technology and games,"<p>FlowPlay, a developer of browser-based virt...",$3.97M,114 Alaskan Way South,Ste. 100,98104,Seattle,WA,USA,47.601532,-122.335943

In [26]:
df_full = df_full.groupby("country_code")["name"].count()

In [27]:
df_full

country_code
BEL     1
CHN     3
DEU     1
GBR     4
HKG     1
IND     1
IRL     1
ISR     1
KOR     1
NOR     1
RUS     1
SGP     1
TWN     1
USA    39
VNM     2
Name: name, dtype: int64

In [41]:
df_full = df_full.loc[(df_full["country_code"] == "USA")]
df_full.

,name,number_of_employees,tag_list,description,overview,total_money_raised,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
2,OMGPOP,50.0,"dating, gaming, auction",Free online multiplayer game,<p>OMGPOP (formerly known as iminlikewithyou) ...,$16.6M,SoHo,,,New York,NY,USA,40.723384,-74.001704
29,Booyah,NaN,"iphone, real-world-gaming, location-based-gami...","Real-World Social Gaming, iPhone App","<p>Booyah, headquartered in San Francisco, is ...",$59.5M,"139 Townsend Street, 3rd Floor",,94107,San Francisco,CA,USA,37.420728,-122.210341
21,PurePlay,NaN,"games, poker, online-poker",play-for-cash online poker game,"<p><a href=""http://player.pureplay.com/"" title...",$15M,,,,San Francisco,CA,USA,37.775196,-122.419204
17,Serious Business,22.0,"facebook, social-games",Social Game Development Studio,<p>Serious Business is a developer and produce...,$4M,580 Market Street,#600,94104,San Francisco,CA,USA,37.789321,-122.401362
10,Zynga,115.0,"facebookapplications, games, socialnetworking,...",Network of gaming applications,<p>Zynga was founded in July 2007 by Mark Pinc...,$860M,365 Vermont St.,,94103,San Francisco,CA,USA,37.765158,-122.404234

In [45]:
df_full = df_full.loc[(df_full["city"] == ["San Francisco","New York"])]

ValueError: ('Lengths must match to compare', (39,), (2,))